<!doctype html>
<html lang="en">
  <head>
    <title>Responsive Website</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="assets/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <img class="logo" src="assets/img/logo.png" alt="Creative inc. logo" />
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section class="home-hero">
        <div class="container">
          <h1 class="title">
            Making things looks great
            <span>for companies who make great stuff</span>
          </h1>
          <a class="button button-accent" href="#">See Our Work</a>
        </div>
      </section>

      <div class="container">
        <section class="home-about">
          <div class="home-about-textbox">
            <h1>Who we are</h1>
            <p>
              Sit by the fire drink water out of the faucet hide head under
              blanket so no one can see cat is love, cat is life Knock dish off
              table eating always hungry so favor packaging over toy
            </p>
            <p>
              <strong>Rub face on owner.</strong> Peer out window. chatter at
              birds, lure them to mouth. Chase ball of string eat a plant, kill
              a hand, i am the best have secret plans.
            </p>
          </div>
        </section>
      </div>

      <section class="portfolio">
        <h1>Some of our work</h1>

        <!-- portfolio item 01 -->
        <figure class="port-item">
          <img src="assets/img/portfolio-01.jpg" alt="portfolio item" />
          <figcaption class="port-desc">
            <p>Project title</p>
            <a href="#" class="button button-accent button-small"
              >Project details</a
            >
          </figcaption>
        </figure>

        <!-- portfolio item 02 -->
        <figure class="port-item">
          <img src="assets/img/portfolio-02.jpg" alt="portfolio item" />
          <figcaption class="port-desc">
            <p>Project title</p>
            <a href="#" class="button button-accent button-small"
              >Project details</a
            >
          </figcaption>
        </figure>

        <!-- portfolio item 03 -->
        <figure class="port-item">
          <img src="assets/img/portfolio-03.jpg" alt="portfolio item" />
          <figcaption class="port-desc">
            <p>Project title</p>
            <a href="#" class="button button-accent button-small"
              >Project details</a
            >
          </figcaption>
        </figure>

        <!-- portfolio item 04 -->
        <figure class="port-item">
          <img src="assets/img/portfolio-04.jpg" alt="portfolio item" />
          <figcaption class="port-desc">
            <p>Project title</p>
            <a href="#" class="button button-accent button-small"
              >Project details</a
            >
          </figcaption>
        </figure>

        <!-- portfolio item 05 -->
        <figure class="port-item">
          <img src="assets/img/portfolio-05.jpg" alt="portfolio item" />
          <figcaption class="port-desc">
            <p>Project title</p>
            <a href="#" class="button button-accent button-small"
              >Project details</a
            >
          </figcaption>
        </figure>

        <!-- portfolio item 06 -->
        <figure class="port-item">
          <img src="assets/img/portfolio-06.jpg" alt="portfolio item" />
          <figcaption class="port-desc">
            <p>Project title</p>
            <a href="#" class="button button-accent button-small"
              >Project details</a
            >
          </figcaption>
        </figure>
      </section>

      <section class="cta">
        <div class="container">
          <h1 class="title title-cta">
            Like what you see?
            <span>Then what are you waiting for?</span>
          </h1>
          <a class="button button-dark" href="#">Hire us</a>
        </div>
      </section>
    </main>
    <footer>
      <div class="container">
        <div class="col-3">
          <p>
            Lorem ipsum dolor sit amet, officia excepteur ex fugiat
            reprehenderit enim labore culpa sint ad nisi Lorem pari atur mollit
            ex esse exercitation amet. Nisi anim cupidatat excepteur officia.
            Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate
            voluptate dolor minim nulla est proident.
          </p>
        </div>

        <div class="col-1">
          <ul class="unstyled-list">
            <li><strong>Shoredltch</strong></li>
            <li>Bad Williamsburg</li>
            <li>Woke retro</li>
            <li>Readymade</li>
            <li>Scenester</li>
          </ul>
        </div>

        <div class="col-1">
          <ul class="unstyled-list">
            <li><strong>Shoredltch</strong></li>
            <li>Bad Williamsburg</li>
            <li>Woke retro</li>
            <li>Readymade</li>
            <li>Scenester</li>
          </ul>
        </div>

        <div class="col-1">
          <ul class="unstyled-list">
            <li><strong>Shoredltch</strong></li>
            <li>Bad Williamsburg</li>
            <li>Woke retro</li>
            <li>Readymade</li>
            <li>Scenester</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
